<div class="add-show">
    <video [loop]="true" [autoplay]="true" [muted]="true">
        <source src="../../../assets/videos/Violet_Evergarden_Trailer.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!-- SIDE BAR -->
    <section class="side-bar">
        <!-- LOGO -->
        <img class="side-bar-logo" src="../../../assets/logos/web/png/logo_icon_no_bg.png" alt="logo">

        <!-- SIDE BAR LINKS -->
        <ul class="side-bar-links">
            <li class="side-bar-link-item">
                <a class="side-bar-link" [routerLink]="['']">
                    <fa-icon [icon]="Home"></fa-icon>
                    Home
                </a>
            </li>

            <li class="side-bar-link-item">
                <a class="side-bar-link">
                    <fa-icon [icon]="Shows"></fa-icon>
                    Your Shows
                </a>
            </li>

            <li class="side-bar-link-item">
                <a class="side-bar-link">
                    <fa-icon [icon]="Settings"></fa-icon>
                    Settings
                </a>
            </li>

            <li class="side-bar-link-item active">
                <a class="side-bar-link">
                    <fa-icon [icon]="Add"></fa-icon>
                    Add Show
                </a>
            </li>
        </ul>

        <!-- MORE INFO -->
        <div class="more-info">
            <a class="more-info-toggle">
                <fa-icon [icon]="More"></fa-icon>
            </a>
        </div>
    </section>

    <!-- MAIN NAVIGATION -->
    <nav class="navigation">
        <ul class="nav-links">
            <li class="link-item">
                <a class="link">
                    Your Shows
                </a>
            </li>

            <li class="link-item">
                <a class="link">
                    Completed
                </a>
            </li>

            <li class="link-item">
                <a class="link">
                    Contact
                </a>
            </li>
        </ul>
    </nav>

    <!-- MAIN CONTENT | Home -->
    <section class="hero">
        <div class="hero-content-wrapper">
            <!-- HERO INFO -->
            <div class="hero-info">
                <h4 class="current-page-title">
                    Add shows
                </h4>

                <h2 class="info-title">
                    Track your shows with ease
                </h2>

                <p class="info-content">
                    Say goodbye to the hassle of juggling multiple streaming services and episodes our platform
                    centralizes everything in one place.
                </p>
            </div>

            <!-- WRAPPER -->
            <div class="form-content-wrapper">
                <!-- ADD SHOW FORM -->
                <form class="add-form" [formGroup]="ADD_SHOW">
                    <!-- INPUT BOX -->
                    <div class="box">
                        <div class="input-wrapper">
                            <input type="text" id="input" class="form-control" formControlName="name"
                                placeholder="Show Name" #showName>
                            <label for="input" class="control-label">Show name...</label>
                        </div>
                    </div>

                    <!-- INPUT BOX -->
                    <div class="box">
                        <div class="input-wrapper">
                            <input type="text" id="input" class="form-control" formControlName="description"
                                placeholder="Additional Show Info" #additionalInfo>
                            <label for="input" class="control-label">Additional show info...</label>
                        </div>
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <button class="form-cta" (click)="SUBMIT_FORM()" title="Add to view similar shows...">
                        Add Show
                    </button>
                </form>

                <!-- SOCIAL MEDIA ICONS -->
                <div class="social-media-icons">
                    <a class="social-media-icon active">
                        <fa-icon [icon]="Instagram"></fa-icon>
                    </a>

                    <a class="social-media-icon">
                        <fa-icon [icon]="Facebook"></fa-icon>
                    </a>

                    <a class="social-media-icon">
                        <fa-icon [icon]="Linkedin"></fa-icon>
                    </a>

                    <a class="social-media-icon">
                        <fa-icon [icon]="XTwitter"></fa-icon>
                    </a>
                </div>
            </div>
        </div>


        <!-- TITLE -->
        <h2 class="recommendations">
            <span>
                Recommended
            </span>
            Shows
        </h2>

        <!-- PREVIEW CONTAINER -->
        <div class="show-section">
            <section class="preview-wrapper">

                <!-- DEFAULT MESSAGE -->
                <h2 class="default-message" *ngIf="SEARCH_RESULTS.length == 0">
                    <fa-icon [icon]="Camera" class="spinner"></fa-icon>
                    Add a Show to view more
                    <p>
                        <span>
                            similar shows
                        </span>
                    </p>
                </h2>

                <!-- PREVIEW -->
                <div class="preview" *ngFor="let result of SEARCH_RESULTS">
                    <div class="preview-content">
                        <img src={{result.image}} alt="poster" class="preview-img">
                        <!-- PREVIEW INFO -->
                        <div class="preview-info">
                            <h3 class="preview-title">
                                {{result.title}}
                            </h3>
                            <p class="preview-summary">
                                {{(result.synopsis.length > 10) ? (result.synopsis |
                                slice:0:70)+"...":(result.synopsis)}}
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- NEW SHOWS -->
            <section class="new-shows">
                <h2 class="new-show-section-title">
                    <div class="thumbtack">
                        <fa-icon [icon]="ThumbTack"></fa-icon>
                    </div>
                    New
                </h2>

                <!-- CONTENT -->
                <div class="new-show-content">
                    <!-- SHOW CONTENT -->
                    <div class="show-content" *ngFor="let show of NEW_SHOWS">
                        <img src={{show.image}} alt="poster" class="new-show-img">
                        <!-- SHOW INFO -->
                        <div class="show-info">
                            <h3 class="show-title">
                                {{show.title}}
                            </h3>
                            <p class="show-summary">
                                {{(show.synopsis.length > 10) ? (show.synopsis |
                                slice:0:70)+"...":(show.synopsis)}}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section>
</div>